body {
    font-family:'courier new', courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./flappybirdbg.png");
    
}



.description-box {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

